body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #DFF6F0;
}

.landing-container {
  background-color: #DFF6F0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-header {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav .btn-success{
  background-color : #49c58f;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-link {
  margin: 0 20px;
  color: black !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #5be8a9 !important;
}

.btn-success {
  background-color: #49c58f;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #81c784;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  width: 80%;
}

.text-content {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.text-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  padding: 10px;
  border-radius: 35px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.form button {
  padding: 10px 20px;
  margin-top: 10px;
  width: auto;
  background-color : #49c58f;
  border-radius: 20px;
}
.btn .btn-success .ms-auto{
  background-color : #49c58f;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img, .image-bottom img {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  transform: translateX(-40px);
}

.content-section {
  padding: 30px;
}

h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    width: 100%;
    text-align: center;
  }

  .image-content img, .image-bottom img {
    width: 100%;
    max-width: 100%;
    transform: translateX(0px);
  }

  .form {
    width: 100%;
  }

  .form input, .form button {
    width: 100%;
    max-width: none;
  }
  .navbar-nav .btn-success{
    background-color : white;
    padding: 10px 15px;
    margin: 0 auto;
    color: #333;
    border-color: white;
    font-size: 1.1em;
  }
}
@media (max-width: 564px) {
  .main-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    width: 100%;
    text-align: center;
  }

  .image-content img, .image-bottom img {
    width: 100%;
    max-width: 100%;
    transform: translateX(0px);
    min-width: 460px;
  }

  .form {
    width: 100%;
  }

  .form input, .form button {
    width: 100%;
    max-width: none;
  }
  .form button{
    max-width: 90px;
    background-color : #49c58f;
  }
  .navbar-nav .btn-success{
    background-color : white;
    padding: 10px 15px;
    margin: 0 auto;
    color: #333;
    border-color: white;
    font-size: 1.1em;
  }
}
@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    width: 100%;
    text-align: center;
  }

  .image-content img, .image-bottom img {
    width: 100%;
    max-width: 100%;
    transform: translateX(0px);
    min-width: 360px;
  }

  .form {
    width: 100%;
  }

  .form input, .form button {
    width: 100%;
    max-width: none;
  }
  .form button{
    max-width: 90px;
    background-color : #49c58f;
  }
  .navbar-nav .btn-success{
    background-color : white;
    padding: 10px 15px;
    margin: 0 auto;
    color: #333;
    border-color: white;
    font-size: 1.1em;
  }
}